.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajuste conforme necessário */
    margin: 20px auto; /* Espaçamento em relação ao header */
    overflow: hidden; /* Oculta a barra de rolagem */
}

.carousel {
    display: flex;
    align-items: center;
    overflow: hidden; /* Oculta a barra de rolagem */
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease; /* Transição suave ao mover */
}

.carousel-item {
    min-width: 150px; /* Largura do retângulo */
    height: 200px; /* Altura do retângulo */
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 0 10px; /* Espaçamento entre os itens */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.nav-button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 10px;
    border-radius: 5px;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.nav-button:hover {
    background: rgba(0, 0, 0, 0.7);
}
