.custom-modal-alert {
    display: flex;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* leve escurecido */
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.custom-modal-alert-content {
    display: inline-block;
    backdrop-filter: blur(20px);
    background: transparent;
    color: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    min-width: 10vw;
    max-width: 45vw;
    width: fit-content;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    word-break: break-word;
}

.custom-modal-alert-content h2 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 20px;
}

.custom-modal-alert-content button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    font-weight: 600;
}

.custom-modal-alert-content button:hover {
    background-color: #e0e0e0;
}

.custom-modal-alert-close-btn:hover {
    color: #ccc;
}